.container {
  width: 300px;
  height: 230px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  padding: 10px;
  border: 1px solid #000000;
}
